body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

input, textarea, select, label {
    font-size: 20px;
    max-width: 600px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
button {
    margin-top: 20px;
    padding: 20px;
    background-color: #cf4e17;
    border: 20;
    border-color: #a61414;
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    transition: 0.5s;
    font-weight: bold;
}

h1, h2{
    text-align: center;
}

button:focus,
button:hover {
    background-color: rgb(244, 178, 78);
    border-color: rgb(255, 183, 0);
    box-shadow: 0 0 50px rgba(255, 179, 0, 0.618);
    color: black;
}

#output {
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25;
}

#result {
    margin-top: 20px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25;
}

